* {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

h3 {
  color: #FFCC33;
  font-weight:600;
}

.subsection {
  font-size: 14px;
  font-weight: bold;
}

.gold-title {
  color: #FFCC33;
  font-weight: bolder;
}

.navbar-brand {
  color: #FFFFFF !important
}

.nav-link, .collapse {
  color: #FFFFFF !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: none !important;
  outline: none;
}

.collapse {
  border: none !important;
  outline: none;
}

/* <--- Home Page Style Sheet ---> */

/* 00 - Introduction Section */

#intro {
  padding: 16px;
}

#intro p {
  font-size: 22.5px;
  padding-bottom: 5px;
}

.intro-btn1 {
  background-color: #FFCC33;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
  height: 43px;
  width: 170px;
}

.intro-btn2 {
  background-color: #FFFFFF;
  border: 1px solid #333;
  border-radius: 15px;
  height: 43px;
  width: 170px;
}

.intro-btn1 a, .intro-btn2 a {
  text-decoration: none;
  color: #333;
}

.chair-img {
  width: 350px;
  height: 290px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-title {
  font-size: 64px;
  font-weight: 500;
}

.intro-subtitle {
  font-size: 20px;
}

.ball {
  background-color: #FF5722;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}

/* 01 - Welcome Section */

#welcome-01 {
  padding: 16px;
}

.welcome-btn1 {
  background-color: #FFFFFF;
  border: 0.5px solid #333333;
  border-radius: 25px;
  /* padding: 0 30px; */
  width: 169px;
  /* background-color: #FFCC33;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  height: 43px;
  width: 170px; */
}

.welcome-btn2 {
  background-color: #FFCC33;
  border: none;
  border-radius: 25px;
  /* padding: 0 55px; */
  width: 169px;
  /* background-color: #FFFFFF;
  border: 1px solid #333;
  border-radius: 10px;
  height: 43px;
  width: 170px; */
}

.welcome-btn1 a, .welcome-btn2 a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.headshot-img {
  height: 250px;
  width: 250px;
}

/* 03 - Say Hello Section */

#say-hello-03 {
  padding: 16px;
}

.contact-img {
  height: 250px;
  width: 300px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.footer-bottom {
  background-color: #DDDDDD;
  padding: 30px 10px 10px;
  text-align:center;
}

.contact-btn1 {
  background-color: #4B006E;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
  height: 43px;
  width: 170px;
}

/* <--- About Page Style Sheet Tags ---> */
/*  */
/*  */

/* 00 - About Page Introduction Section */

#abt-pg-intro, #me-myself-01, #what-i-do-02 {
  padding: 16px;
}

.red {
  color: #D4181D;
  font-weight: 400 !important;
}

.red-content {
  font-size: 18px;
  line-height: 1.5;
}

.about-img {
  height: 250px;
  width: 250px;
}

.about-img2 {
  height: 200px;
  width: 250px;
}

.about-img3 {
  height: 200px;
  width: 200px;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
       /* Prefix Support */

ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}
