* {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

h3 {
  color: #FFCC33;
  font-weight:600;
}

h6 {
  color: #FFCC33;
  font-weight: bolder;
}

.card-img {
  padding: 15px 15px 10px;
  border-radius: 25px;
  height: 200px;
}

.card {
  border: red;
}
.subsection {
  font-size: 14px;
  font-weight: bold;
}

.gold-title {
  color: #FFCC33;
  font-weight: bolder;
}

.navbar-brand {
  color: #FFFFFF !important
}

.nav-link, .collapse {
  color: #FFFFFF !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: none !important;
  outline: none;
}

.collapse {
  border: none !important;
  outline: none;
}

/* <--- Home Page Style Sheet ---> */

/* 00 - Introduction Section */

#intro {
  padding: 16px;
}

#intro p {
  font-size: 22.5px;
  padding-bottom: 5px;
}

.intro-btn1 {
  background-color: #FFCC33;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  height: 43px;
  width: 170px;
}

.intro-btn2 {
  background-color: #FFFFFF;
  border: 1px solid #333;
  border-radius: 20px;
  height: 43px;
  width: 170px;
}

.intro-btn1 a, .intro-btn2 a {
  text-decoration: none;
  color: #333;
}

.chair-img {
  width: 350px;
  height: 290px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-title {
  font-size: 64px;
  font-weight: 500;
}

.intro-subtitle {
  font-size: 20px;
}

.ball {
  background-color: #FF5722;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}

/* 01 - Welcome Section */

#welcome-01 {
  padding: 16px;
}

.welcome-btn1 {
  background-color: #FFFFFF;
  border: 0.5px solid #333333;
  border-radius: 20px;
  /* padding: 0 30px; */
  width: 169px;
  /* background-color: #FFCC33;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  height: 43px;
  width: 170px; */
}

.welcome-btn2 {
  background-color: #FFCC33;
  border: none;
  border-radius: 20px;
  /* padding: 0 55px; */
  width: 169px;
  /* background-color: #FFFFFF;
  border: 1px solid #333;
  border-radius: 10px;
  height: 43px;
  width: 170px; */
}

.welcome-btn1 a, .welcome-btn2 a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.headshot-img {
  height: 250px;
  width: 250px;
}

/* 02 - My Work Section */

#my-work-02 {
  padding: 16px;
  background-color: #FAFAFA;
}

.bottom {
    box-shadow: 0.5px 0.5px 10px #E0E0E0;
}

.work-btn1 {
  background-color: ##FAFAFA !important;
  border: 0.5px solid #333333;
  border-radius: 20px;
  width: 169px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.work-btn1 a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/* 03 - Say Hello Section */

#say-hello-03 {
  padding: 16px;
}

.contact-img {
  height: 250px;
  width: 300px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.footer-bottom {
  background-color: #FAFAFA;
  padding: 30px 10px 10px;
  text-align:center;
}

.top {
    /* width: 100%; */
    box-shadow: -0.5px -0.5px 10px #E0E0E0;
}

.contact-btn1 {
  background-color: #4B006E;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  height: 43px;
  width: 170px;
}

/* <--- About Page Style Sheet Tags ---> */
/*  */
/*  */

/* 00 - About Page Introduction Section */

#abt-pg-intro, #me-myself-01, #what-i-do-02 {
  padding: 16px;
}

#what-i-do-02 {
  background-color: #FAFAFA;
}
.red {
  color: #D4181D;
  font-weight: 400 !important;
}

.red-content {
  font-size: 18px;
  line-height: 1.5;
}

.about-img {
  height: 250px;
  width: 250px;
}

.about-img2 {
  height: 200px;
  width: 250px;
}

.about-img3 {
  height: 200px;
  width: 200px;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
       /* Prefix Support */

ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}




.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #FFCC33; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 10px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFCC33; }
}






















.gallery {
  --s: 250px; /* the size */

  display: grid;
  transform-style: preserve-3d;
  --_p: perspective(calc(2.5*var(--s)));
  animation: r 9s infinite cubic-bezier(.5,-0.5,.5,1.5);
}
.gallery img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  transform: var(--_t,) translateZ(calc(var(--s)/2));
}
.gallery img:nth-child(2) {--_t: rotateX(-90deg)}
.gallery img:nth-child(3) {--_t: rotateY( 90deg)}
.gallery img:nth-child(4) {--_t: rotateX(180deg) rotate( 90deg)}
.gallery img:nth-child(5) {--_t: rotateX( 90deg)}
.gallery img:nth-child(6) {--_t: rotateY(-90deg)}

@keyframes r {
  0%,3%   {transform: var(--_p) rotate3d(0, 0, 0, 0deg)}
  14%,19% {transform: var(--_p) rotate3d(-1, 1, 0, 180deg)}
  31%,36% {transform: var(--_p) rotate3d(0, -1, 0, 90deg)}
  47%,52% {transform: var(--_p) rotate3d(1, 0, 0, 90deg)}
  64%,69% {transform: var(--_p) rotate3d(1, 0, 0, -90deg)}
  81%,86% {transform: var(--_p) rotate3d(0, 1, 0, 90deg)}
  97%,100%{transform: var(--_p) rotate3d(0, 0, 0, 0deg)}
}

/* .container {
  height: 200px;
  width: 200px;
} */
.body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #556270;
  animation: b 60s infinite;
}

.img {
  width: 100%;      /* Ensures the image uses the full width of its container */
  height: auto;     /* Maintains the image's original aspect ratio */
  object-fit: contain; /* or contain, depending on desired behavior */
}

/* @keyframes b {
  0%,3%   {background: #774F38}
  14%,19% {background: #C5E0DC}
  31%,36% {background: #036564}
  45%,55% {background: #B38184}
  64%,69% {background: #424254}
  81%,86% {background: #4DBCE9}
  97%,to  {background: #774F38}
} */
